table.royal_chess tr td { text-align: center; width: 4em; height: 4em; border: none; }

table.royal_chess tr:nth-child(odd)  td:nth-child(odd),
table.royal_chess tr:nth-child(even) td:nth-child(even) { background-color: #ddc; }

table.royal_chess tr:nth-child(odd)  td:nth-child(even),
table.royal_chess tr:nth-child(even) td:nth-child(odd)  { background-color: #eed; }
